body {
    background-color: #FAFAFA;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

.main {
    background-color: #FFF;
    max-width: 550px;
    margin: auto;
}

a {
    color: grey;
}

td {
    font-size: 16px;
}

.head {
    background-color: #EEA390;
    padding: 10px;
    justify-content: space-between;
    color: white;
    display: flex;
    border-radius: 10px;
}

.head a {
    text-decoration: none;
    color: #F9F4F1;
    font-weight: bold;
    font-style: italic;
}